<div class="form-task-card-section">
  <div class="main-section-form-side-bar">
    <!-- side bar section -->

    <div class="side-bar-section">
      <div>
        <div class="side-bar-body">
          <button
            (click)="deleteAllTask()"
            id="delete-all-task"
            class="side-bar-button"
          >
            Remove all
          </button>
          <h2 *ngIf="taskData" class="side-bar-count" id="side-bar-count">
            {{ taskData.length }}
          </h2>
        </div>
      </div>
    </div>

    <!-- form section -->

    <div class="form-secton">
      <h1 id="form-header" class="form-header">Task Form Management</h1>
      <form [formGroup]="taskForm">
        <!-- title field -->
        <div class="form-group">
          <label id="title-label">Title: </label>
          <input
            id="title"
            type="text"
            placeholder="Title"
            required
            formControlName="title"
          />
        </div>

        <!-- Description field -->
        <div class="form-group">
          <label id="description-label"> Description: </label>
          <textarea
            placeholder="Description"
            formControlName="description"
            id="description"
            cols="30"
            rows="10"
            required
          ></textarea>
        </div>
        <!-- Created By field -->

        <div class="form-group">
          <label id="createdBy-label"> Created by: </label>
          <input
            id="createdBy"
            type="text"
            formControlName="createdBy"
            placeholder="Created By"
            required
          />
        </div>
        <!-- Assigned To -->

        <div class="form-group">
          <label id="assignedTo-label"> Assigned to: </label>
          <input
            id="assignedTo"
            type="text"
            formControlName="assignedTo"
            placeholder="Assigned To"
            required
          />
        </div>
        <div class="footer-button">
          <button
            id="submit-button"
            class="my-button"
            [disabled]="taskForm.invalid"
            type="submit"
            (click)="createTask()"
          >
            Submit
          </button>
          <button
            id="update-buttton"
            class="my-button"
            style="margin-left: 12px"
            type="submit"
            (click)="update()"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- info section -->

  <div class="task-card-info-section">
    <div
      class="task-card-info"
      *ngFor="let item of taskData; let i = index"
      id="{{ i }}"
    >
      <div class="task-card-container">
        <div class="task-card-body-content">
          <h1 id="item-title" class="task-card-title">{{ item.title }}</h1>
          <p id="item-description" class="task-card-description">
            {{ item.description }}
          </p>
        </div>
        <div class="task-card-content-footer">
          <h2 id="item-createdBy" class="task-card-created-by">
            {{ item.createdBy }}
          </h2>
          <h3 id="item-assignedTo" class="task-card-assigned-to">
            {{ item.assignedTo }}
          </h3>
        </div>
        <div class="delete-update-button">
          <button id="delete-task-id" (click)="deleteTask(item)">Delete</button>
          <button
            id="edit-task-id"
            (click)="editTask(item)"
            style="margin-left: 12px"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
